/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.navbar2{
width: 100%;
background-color: black;
}

.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: #ff7200;
  font-size: 25px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 20px;
  margin-top: 5px
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #ff7200;
}

.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn:hover{
  color: #000;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}
.container{
  margin: 70px;
}

@media screen and (max-width:1200px) {
  /*Normal Screen*/

  .navbar{
      width: 100%;
      height: 100px;
  }
  ul{
      margin-left: 30px;
  }   
  ul li{
      margin-left: 60px;
  }
  ul li a{
     font-size: 1.6vw; 
  }
  .search{
      margin-top: 3px;
      margin-left: 290px;
  }
  .srch{
      height: 40px;
      width: 190px;
      font-size: 14px;
  }
  .btn{
      height:40px;
      width: 80px;
  }
  .content{
      width: 100%;
  }
  .content h1, .content span{
      font-size: 4.5vw; 
  }
  .content .par{
      width: 90%;
      font-size: 1.5vw;
  }
  .content .cn{
      width: 13%;
      height: 3.5vw;
      font-size: 1.8vw;
  }
  .content a{
      font-size: 1.6vw
  }
}

@media screen and (max-width:1170px) {
  /*Login-box*/
  .main{
      padding-left: 20px;
      height: 180vh;
  }
  .form{
      margin-left: -30px;
      width: 250px;
      height: 370px;
      background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
      position: absolute;
      top: 420px;
      left: 50px;
      transform: translate(0%,-5%);
      border-radius: 10px;
      padding: 25px;
  }
  .form input{
      width: 240px;
      height: 35px;
      background: transparent;
      border-bottom: 1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-family: sans-serif;
  }
  .btnn a{
      font-size: 16px;
  }
  .form .link a{
      font-size: 16px;
  }
}

@media screen and (max-width: 830px){
  /*For tablet*/
 
  .content{
      margin-top: 120px;
      width: 80%;   
      margin-left: 40px;  
  }
  .content h1, .content span{
      font-size: 6vw; 
  }
  .content .par{
      width: 90%;
      font-size: 1.8vw;
  }
  .content .cn{
      width: 15%;
      height: 4.5vw;
      font-size: 2vw;
  }
  .content a{
      font-size: 2vw
  }
  .logo{
      margin-left: 240px;
      width: 100%;
      margin-top: 15px;
      font-size: 5vw;
  }
  .menu{
      width: 100%;
  }
  ul{
      margin-top: -5px;
      margin-left: 5px;
  }
  ul li{
      margin-left: 60px;
  }
  ul li a{
     font-size: 2vw; 
  }
  .search{
      margin-top: -20px;
      margin-left: 60px;   
  }   
  .srch{
      height: 30px;
      width: 160px;
      font-size: 12px;
  }
  .btn{
      height:30px;
      width: 70px;
  }
  .main{
      padding-left: 20px;
      height: 180vh;
  }
  .form{
      margin-left: -30px;
      width: 250px;
      height: 370px;
      background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
      position: absolute;
      top: 430px;
      left: 50px;
      transform: translate(0%,-5%);
      border-radius: 10px;
      padding: 25px;
  }
  .form input{
      width: 240px;
      height: 35px;
      background: transparent;
      border-bottom: 1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-family: sans-serif;
  }
  .btnn a{
      font-size: 16px;
  }
  .form .link a{
      font-size: 16px;
  }
}

@media screen and (max-width: 600px){
  /*IPAD*/
  
  .content{
      margin-top: 80px;
      margin-left: 20px;
  }
  .search{
      margin-top: -40px;
      margin-left: 42px;
  }
  .logo{
      margin-left: 180px;
      font-size: 4vw;
  }
  ul{
      margin-top: -25px;
      margin-left: -5px;
  }
  ul li {
      margin-left: 50px;
  }
  ul li a{
      font-size: 2vw;
  }   
}

@media screen and (max-width: 450px){
  /*mobile*/
  .logo{
      margin-left: 140px;
      font-size: 4vw;
  }
  ul{
      margin-top: -25px;
  }
  ul li {
      margin-left: 42px;
  }
  ul li a{
      font-size: 2vw;
  }  
  .search{
      margin-top: -40px;
      margin-left: 38px;
  } 

}
.container{
  width: 80%;
  align-items:center;
  justify-content: center;
  background: orange;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: black;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: whitesmoke;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: black;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: black;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
  min-width: 200px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #100924;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
 @media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 80%;
   margin-left: 0;
 }
}



